.white-box {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.white-box h3 {
  text-decoration: none;
}

.settings-page {
  margin-top: 20px;
}

.payment-details .card {
  border: 1px solid black;
}

.delete-account-actions {
  display: flex;
  align-items: center;
}

.delete-account-checkbox {
  margin-right: 10px;
}

.payment-details {
  display: flex;
  flex-direction: column;
}

.payment-details .card-body {
  display: flex;
  flex-wrap: wrap;
}

.payment-details .card-body .form-group {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.payment-details .card-body .form-group:last-child {
  margin-right: 0;
}

.payment-details .save-payment-details-checkbox {
  display: flex;
  align-items: center;
}

.payment-details .save-payment-details-checkbox label {
  margin-left: 5px;
}

.payment-details .save-payment-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.fa-trash:hover {
  color: red;
  cursor: pointer;
}

.fa-chevron-down:hover {
  color: forestgreen;
  cursor: pointer;
}
