body{
  background-color: rgb(196, 255, 196);
}
nav{
  background-color: palegreen;
  width: 100%;
}

.navbar-brand{
  color: black;
}

.nav-link{
  color: black;
}

.btn{
  color: black;
  background-color: forestgreen;
}

h1{
  color: black;
  text-decoration: underline;
}

footer{
  text-align: center;
  background-color: palegreen;
  position: absolute;
  bottom: 0;
  width: 97%;
  margin-left: 30px;
  margin-right: 30px;
}

.navbar{
  width: 100%;
}

.LiveNews{
  width: 25%;
  position: fixed;
  background-color: rgb(114, 255, 114);
}

.RelatedNews{
  margin-left: 500px;
  position: fixed;
  width: 25%;
}

.Donations{
  width: 20%;
  float: right;
}